<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header>

    <div class="logo">
        MyShop
    </div>

    <nav>

        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>

    </nav>

</header>

<section class="products-page">

    <h1>Our Products</h1>
    {%for i in products %}
    <div class="products-grid">

        <div class="product-card">

            <img src="{{ url_for('static', filename='products_img/' + i.image) }}">

            <h2>{{i.name}}</h2>

            <p class="price">{{i.price}}</p>

            <p class="description">
                {{i.description}}
            </p>

            <button>View Product</button>

        </div>
    </div>
    {%endfor%}

</section>

</body>
</html>