{% extends "base.html" %}
{% block title %}Products{% endblock %}
{%block content%}

<section class="products-page">

    <h1>Our Products</h1>
    {%for i in products %}
    <div class="products-grid">

        <div class="product-card">

            <img src="{{ url_for('static', filename='products_img/' + i.image) }}">

            <h2>{{i.name}}</h2>

            <p class="price">{{i.price}}</p>

            <p class="description">
                {{i.description}}
            </p>

            <button>View Product</button>

        </div>
    </div>
    {%endfor%}

</section>

{% endblock %}