<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Profile</title>

<link rel="stylesheet"
href="../static/css/style.css">

</head>
<body>

<header>

<div class="logo">

MyShop

</div>

<nav>

<a href="/">Home</a>

<a href="/logout">Logout</a>

</nav>

</header>

<section class="profile">

<h1>Welcome</h1>

<p>

<h4>Email = {{email}}</h4>
<h4>Password = {{password}}</h4>

</p>

</section>

</body>
</html>